<ng-content></ng-content>
<form [formGroup]="group">
  <div formArrayName="attributes">
    <div
      style="margin-top:5px; margin-bottom:5px;"
      *ngFor="let form of group.get('attributes').controls; let i = index"
    >
      <p-divider align="left" type="dashed">
        <span>id: </span>
        <b>{{ form.value.id }}</b>
        <span> label: </span>
        <b>{{ form.value.label }} </b>
        <span> type: </span>
        <b>{{ form.value.type }}</b>
      </p-divider>
      <div class="form-inline" [ngSwitch]="form.value.type">
        <app-text *ngSwitchCase="attributeEnum.TEXT" [form]="form"></app-text>
        <app-textarea
          *ngSwitchCase="attributeEnum.TEXTAREA"
          [form]="form"
        ></app-textarea>
        <app-mva *ngSwitchCase="attributeEnum.MVA" [form]="form"></app-mva>
        <app-gtin-default
          *ngSwitchCase="attributeEnum.GTIN_DEFAULT"
          [form]="form"
        ></app-gtin-default>
             <app-channel
          *ngSwitchCase="attributeEnum.CHANNEL"
          [form]="form"
        ></app-channel>
      </div>
    </div>
  </div>
</form>
